<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "abidjan.jpg"%>');">
  <div class="banner-content">
    <h1>Bienvenue sur EMCC Export</h1>
    <p>Cette application est optimisée pour les smartphones et tablettes</p>
    <% if user_signed_in? %>
      <p>Trouvez et téléchargez vos documents - <strong><%= link_to "MANUEL D'UTILISATION", "/manuel.pdf/#{@bl_file}",  target: "_blank" %></strong></p>


      <ul class="list-inline">
        <li>
          <%= link_to "Documents (#{Document.count})", documents_category_path, class: "btn btn-primary"%>
        </li>
        <li>
          <%=link_to "Équipe (#{User.count})" ,team_path, class: "btn btn-primary"%>
        </li>
        <li>
          <%=link_to "Congés" ,travels_site_path, class: "btn btn-primary"%>
        </li>
      </ul>

    <%else%>

      <p>Veuillez vous connecter pour continuer</p>

    <%end%>

  </div>
</div>
<% if user_signed_in? %>
<div class="container text-center" id="container-map">
  <h1>Nos localisations</h1><br>
</div>
 <div id="map" style="width: 100%; height: 400px;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script type="text/javascript">
    var locations = [
      ['Abidjan', 5.3599517, -4.008256299999971, 1],
      ['Lomé', 6.172496899999999, 1.2313618000000588, 2],
      ['Port au Prince', 18.594395,-72.30743259999997, 3],
      ['Kingston', 18.0178743,-76.80990409999998, 4],
      ['Kamsar', 10.54547,-14.561500000000024, 5]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(5.3599517, -4.008256299999971),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO6IHL_hEKaYzdFCdyE7KMmo2UgwCsDVc&callback=initMap">
  </script>

  <%end%>


