<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "abidjan.jpg"%>');">
  <div class="banner-content">
    <h1>Bienvenue sur EMCC Export Docs</h1>
     <% if user_signed_in? %>
    <p>Trouvez et téléchargez vos documents</p>
     <%=link_to "L'équipe" ,team_path, class: "btn btn-primary"%><br>
    <a href="#category" class="slide-section"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
    <%else%>
    <p>Veuillez vous connecter pour continuer</p>
    <%end%>
  </div>
</div>
<% if user_signed_in? %>

<div class="container padded" id="category">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Fiches technique matériel", documents_path(category: "fiche_technique"), class: "card-category"%>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Templates", documents_path(category: "template"), class: "card-category"%>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Suivi matériel - Assurances", documents_path(category: "suivi_materiel_assurances"), class: "card-category"%>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
      <%= link_to "Suivi matériel - DMA", documents_path(category: "suivi_materiel_dma"), class: "card-category"%>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Rapports hebdomadaires", documents_path(category: "rapport_hebdomadaire"), class: "card-category"%>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Suivi personnel export", documents_path(category: "suivi_personnel_export"), class: "card-category"%>
    </div>
   </div>
  </div>


   <div class="container padded">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= link_to "Informations QSHE", documents_path(category: "infos_QHSE"), class: "card-category"%>
      </div>
    </div>
  </div>
<%else%>
<%end%>

