<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "abidjan.jpg"%>');">
  <div class="banner-content">
    <h1>Bienvenue sur EMCC Export</h1>

    <% if user_signed_in? %>
      <p>Trouvez et téléchargez vos documents - <strong><%= link_to "MANUEL D'UTILISATION", "/manuel.pdf/#{@bl_file}",  target: "_blank" %></strong></p>

      <ul class="list-inline">
        <li>
          <%= link_to localisations_path do %>
            <%= image_tag "database.png", width: "60px", alt: "Localisations"%>
          <%end%>
          <p class="text-banner-under-img">Localisations</p>
        </li>
        <li>
          <%= link_to team_path do %>
            <%= image_tag "team.png", width: "60px", alt: "Team"%>
          <%end%>
          <p class="text-banner-under-img">Team (<%=User.count%>)</p>
        </li>
        <li>
          <%= link_to documents_category_path do %>
            <%= image_tag "document.png", width: "45px", alt: "Documents", title: "Documents", id: "document-img-mobile" %>
          <%end%>
          <p class="text-banner-under-img">Documents (<%=Document.count%>)</p>
        </li>
        <li>
          <%= link_to travels_site_path do %>
            <%= image_tag "travel.png", width: "60px", alt: "Travel"%>
          <%end%>
          <p class="text-banner-under-img">Congés</p>
        </li>
      </ul>
    <%else%>

      <p>Veuillez vous connecter pour continuer</p>

    <%end%>

  </div>
</div>




