
<div class="container">
  <h1 class="user-title">EMCC-Export</h1>
  <h3 class="user-title">Liste des utilisateurs du site</h3>
 <% @users.each do |user| %>
  <ul class="user-list">
    <li>
     <% if user.avatar %>
        <%= cl_image_tag user.avatar.path, width:80, height:80, crop: :fill, class:"avatar dropdown-toggle"%>
     <%else%>
        <%= image_tag "http://placehold.it/40x40", class: "avatar dropdown-toggle"%>
     <%end%>
      <%= user.full_name %>
    <% if current_user.author? %>
      <p>vu le : <%= user.last_seen_at %></p>
    <%end%>
    <% if user.documents.count != 0 %>
      <p>Documents postés : <%= user.documents.count%></p>
    <%end%>
      </li>
    </ul>
  <%end%>
</div>
