<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center">Documents postés par EMCC</h1>

      <% @documents.each do |document| %>
      <div class="product">
        <img src="http://unsplash.it/300/200?random" alt="kudoz" class="product-image hidden-xs">
        <div class='product-body'>
          <h3><%= document.name%></h3>
          <p><%= document.tagline%></p>
          <p><%= document.category%></p>
          <p>Posté par <%=document.user.email %> le <%=document.user.created_at%></p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li>
            <%= link_to edit_document_path(document) do %>
            <i class="fa fa-pencil"></i>
            <% end %>
           <li>
            <%= link_to document.url do %>
            <i class="fa fa-download"></i>
            <% end %>
          </li>
           <li>
            <%= link_to document_path(document), method: :delete do %>
            <i class="fa fa-trash"></i>
            <% end %>
          </li>
        </ul>
      </div>

      <%end%>

      <%= will_paginate @documents, renderer: BootstrapPagination::Rails, previous_label: "Précédent", next_label: "Suivant", inner_window: 1, outer_window:0 %>

      </div>
    </div>
  </div>
