<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "abidjan.jpg"%>');">
  <div class="banner-content">
  <h1><%= @document.name %></h1>
  <p>Format <%= @document.tagline %></p>
  <p>Posté par :
  <%= @document.user.email %> le <%= @document.created_at.strftime("%d/%m/%Y") %>
  </p>
    <% if @document.tagline != "excel" && @document.tagline != "word" && @document.tagline != "powerpoint"%>
      <%= link_to Cloudinary::Utils.cloudinary_url(@document.photo.path), target: "_blank" do %>
        <i class="fa fa-download"></i>
        <% end %>
    <%else%>
        <%= link_to cloudinary_url(@document.photo.path, :resource_type => :raw ) do%>
        <i class="fa fa-download"></i>
        <% end %>
    <% end %>
  </div>
</div>
